body {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Shrikhand";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-size: 24px;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 15px;
  color: #FFF;
  border-radius: 40px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}
button:hover {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
}

.like {
  margin-right: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.like .fa-solid {
  position: relative;
  left: -24px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  transition: 1s opacity ease-in-out;
  opacity: 0;
}
.like .fa-regular {
  transition: 0.5s opacity ease-in-out;
  opacity: 1;
}

.like:active .fa-solid {
  opacity: 1;
}
.like:active .fa-regular {
  transition: 0.5s opacity ease-in-out;
  opacity: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 150px;
  margin: 15px 0;
}
.header__back {
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #404040;
  padding: 30px;
}
.footer__logo {
  filter: brightness(10000%);
  width: 110px;
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__nav__link {
  color: #FFF;
  margin-top: 8px;
}
.footer__nav__link__icon {
  margin-right: 10px;
}

.stage {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.stage__number {
  background-color: #9356DC;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
}
.stage__content {
  border-radius: 20px;
  display: flex;
  width: calc(100% - 12.25px);
  align-items: center;
  background-color: #F6F6F6;
  position: relative;
  left: 12.25px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}
.stage__content__icon {
  font-size: 20px;
  margin: 25px 30px 25px 35px;
  color: gray;
}
.stage__content__text {
  font-size: 16px;
}

.stage:last-of-type {
  margin-bottom: 20px;
}
.stage:last-of-type .stage__content {
  background-color: #f2eafb;
}
.stage:last-of-type .stage__content__icon {
  color: #9356DC;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  align-items: flex-end;
  margin-bottom: 20px;
}
.restaurant__new {
  font-size: 14px;
  position: absolute;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
}
.restaurant__elt {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: 15px;
}
.restaurant__elt__img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 175px;
  object-fit: cover;
}
.restaurant .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}
.restaurant .content__text {
  font-size: 16px;
}
.restaurant .content__text__name {
  margin: 0;
  font-weight: 600;
}
.restaurant .content__text__place {
  margin: 0;
  font-weight: 200;
}

.menu__card {
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 15px 0;
}
.menu__card__content__name {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.menu__card__content__description {
  margin: 5px 0 2px 0;
  font-size: 14px;
  font-weight: 200;
}
.menu__card__price {
  font-size: 14px;
  font-weight: 700;
  margin: 0 10px 2px 0;
}

@keyframes lign {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.loading {
  visibility: hidden;
  opacity: 0;
  animation: loader 3s;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #F6F6F6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading__logo {
  width: 200px;
  margin-bottom: 20px;
}
.loading__lign {
  background-color: #9356DC;
  width: 70%;
  height: 5px;
  animation: lign 3s;
}

.home__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.home__localisation__icon {
  margin-right: 15px;
}
.home__localisation__text {
  font-size: 14px;
}
.home__reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}
.home__reservation__subtitle {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
}
.home__section {
  padding: 40px 20px;
}
.home__section__title {
  margin-bottom: 20px;
}
.home__section:last-of-type {
  background-color: #F6F6F6;
}

.menu__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menu__elt {
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  position: relative;
  padding: 40px 20px;
  top: -100px;
  margin-bottom: -100px;
}
.menu__elt__header {
  display: flex;
  justify-content: space-between;
}
.menu__elt__header__title {
  font-family: "Shrikhand";
}
.menu__elt__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.menu__elt__btn .btn {
  padding: 15px 40px;
}
.menu__content__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 5px;
}
.menu__content__lign {
  margin: 0;
  width: 40px;
  border: 1.5px solid #99E2D0;
}

/*# sourceMappingURL=style.css.map */
