// Style carte du menu

// apparition de la carte en translation
@keyframes card {
    0% {
        transform: translateY(100px);
    } 60% {
        transform: translateY(0);
    } 80% {
        transform: translateY(10px);
    } 100% {
        transform: translateY(0);
    }
}

// carte
.menu__card {
    cursor: pointer;
    border-radius: 15px;
    background-color: $color-white;
    box-shadow: $shadow;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    margin: 15px 0;
    animation: card 1s ease-in-out;

    // contenu titre + description
    &__content {
        flex-grow: 1;
        padding: 10px;
        padding-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &__name {
            font-weight: 700;
            font-size: $size-medium;
            margin: 0;
        }
        &__description {
            margin: 5px 0 2px 0;
            font-size: $size-min;
            font-weight: 200;
        } 
    } 

    // prix
    &__price {
        padding: 10px;
        padding-right: 0;
        font-size: $size-min;
        font-weight: 700;
        margin: 0 10px 2px 0;
    }

    // validation du menu
    &__validation {
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: 100% 50%;
        height: 67px;
        width: 0;
        transition: all 1s ease-in-out;
        &__icon {
            font-size: $size-xl;
            color: $color-white;
            transform: rotate(180deg);
            transition: all 1s ease-in-out;
        }
    }

    // clic de la carte -> joué la validation du menu
    &:active &__validation {
        background-color: $color-ternary;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 15px 15px 0;
        width: 67px;
        &__icon {
            transform: rotate(0deg);
        }
    }
}

// arrivé des cartes en différé
.card_1 {
    animation-delay: 0s;
}
.card_2 {
    animation-delay: 0.2s;
}
.card_3 {
    animation-delay: 0.4s;
}
.card_4 {
    animation-delay: 0.6s;
}