.header {
    width: 100%;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 150px;
        margin: 15px 0;
    }
    &__back {
        font-size: 18px;
        color: $color-dark;
        position: absolute;
        left: 20px;
    }
}