// Style liste des restaurants

.restaurant {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    align-items: flex-end;
    margin-bottom: 20px;
    color: $color-dark;
    border-radius: 15px;

    // nouveau resto
    &__new {
        font-size: $size-min;
        position: absolute;
        margin: 10px;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $color-ternary;
        color: darken($color-ternary, 40);
    }

    // resto
    &__elt {
        box-shadow: $shadow;
        width: 100%;
        border-radius: 15px;
        &__img {
            width: 100%;
            border-radius: 15px 15px 0 0;
            height: 175px;
            object-fit: cover;
        }
    }

    // contenu resto
    & .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 10px;

        // descritpion resto
        &__text {
            font-size: $size-medium;
            &__name {
                margin: 0;
                font-weight: 600;
            }
            &__place {
                margin: 0;
                font-weight: 200;
            }
        }
    }
}


// breakpoint
@media (min-width: 992px) {
    .restaurant {
        margin-left: 2%;
        flex: 0.3;
        &:first-child {
            margin-left: 0;
        }
    }
}