button {
    border: none;
    padding: $padding-elt;
    color: $color-white;
    border-radius: 40px;
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
}