// Style icon like

.like {
    margin-right: 10px;
    font-size: $size-xl;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    // icon pleine
    & .fa-solid {
        position: relative;
        left: -24px;
        background: $color-gradient;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        transition: 1s opacity ease-in-out;
        opacity: 0;
    }

    // icon bordure
    & .fa-regular {
        transition: 0.5s opacity ease-in-out;
        opacity: 1;
    }

    &:hover {
        & .fa-solid {
            opacity: 1; // apparition pleine
        }
        & .fa-regular {
            transition: 0.5s opacity ease-in-out;
            opacity: 0; // disparition bordure
        }
    }
}