// Définition de la typo de base

@font-face {
    font-family: "Shrikhand";
    src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}

* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    &, h2 {
        font-size: $size-xl;
        margin: 0;
        &, p {
            color: $color-dark;
        }
    }
}