// Style page accueil

.home {

    // localisation
    &__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($color-background, 4.5);

        // icon loc
        &__icon {
            margin-right: $padding-elt;
        }

        // nom loc
        &__text {
            margin: 14px 0;
            font-size: $size-min;
            border: none;
            background-color:  darken($color-background, 4.5);
            padding: 0;
            width: 100px;
        }
    }

    // presentation
    &__reservation {
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: $padding-section;
        &__subtitle {
            margin-top: $padding-elt;
            margin-bottom: $padding-section;
            text-align: center;
            font-weight: 300;
        }
    }

    // section
    &__section {
        padding: 40px 20px;
        &__title {
            margin-bottom: 20px;;
        }
        &__list {
            @include desktop-only {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    // dernière section (les restaurants)
    &__section:last-of-type {
        background-color: $color-background;
    }
}