// Style page restaurant

.menu {

    // image resto
    &__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    // resto
    &__elt {
        border-radius: 40px 40px 0 0;
        background-color: $color-background;
        position: relative;
        padding: 40px 20px;
        top: -100px;
        margin-bottom: -100px;

        // presentation resto
        &__header {
            display: flex;
            justify-content: space-between;

            // nom resto
            &__title {
                font-family: 'Shrikhand';
            }
        }

        // btn reservation
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 30px;
            .btn {
                padding: 15px 40px;
            }
        }
    }

    // menu resto
    &__content {
        &__title {
            font-weight: 400;
            text-transform: uppercase;
            font-size: $size-medium;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        &__lign {
            margin: 0;
            width: 40px;
            border: 1.5px solid $color-ternary;
        }
    }
}